@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html {
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    transition: 300ms ease;
    position: relative;
}

a:hover {
    color:#e61e21;
}

.btn {
background-color: #e61e21;
color: white;
border-radius: 50px;
padding: 12px 40px;
border: none;
transition: 300ms ease;
}

.btn:hover {
    background-color:#403d56;
}

.row__narrow {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/* NAV */


nav figure {
    margin: 0;
}


.nav__logo {
    width: 100%;
    cursor: pointer;
    transition: 300ms ease;
}

.nav__logo:hover {
    transform: translateY(-4px) scale(1.0);
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}

.nav__link, .footer__link {
    margin: 0 24px;
    color: #403d56;
}

.link__hover-effect::after {
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    bottom: -3px;
    width: 0%;
    height: 3px;
    background-color:#e61e21;
    transition: all 300ms ease;
}

.link__hover-effect:hover::after {
    width: 100%;
    left: 0%;
}

.link__hover-effect--white {
    color: #ffc857;
}

.link__hover-effect--white:hover {
    color: #fff;
}

.link__hover-effect--white::after {
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    bottom: -4px;
    width: 0%;
    height: 3px;
    background-color: #ffc857; 
    transition: all 300ms ease;
}

.link__hover-effect--white:hover::after {
    width: 100%;
    left: 0;}


h1 {
    font-size: 48px;
    color:white;
    border-radius: 20px;
    margin: 80px 0px 16px 0px;
}

h2 {
    font-size: 32px;
    color: white;
    margin-bottom: 56px;
    border-radius: 20px;
    text-transform: uppercase;
}

h3 {
    font-size: 32px;
    color: #fff;
}

.row {
    width: 100%;
    max-width: 1200px;
}

h1, h2 {
    text-align: center;
    width: 100%;
}

.hotred {
    color:#e61e21;
}

.white {
    color: white;
}

/* LANDING-PAGE */

#landing {
    width: 100%;
    margin: 0 auto;
    background-image: url('./assets/ladiesbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.landing__container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 900px;
margin: 0 auto;
}

.landing__input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.landing__input {
    width: 80%;
    border-radius: 20px;
    padding: 32px;
    font-size: 24px;
    margin-right: 16px;
    border: 1px solid #403d56;
}

.landing__input:focus {
    border-color: #e61e21;
    outline: 2px solid #e61e21;
}

.landing__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e61e21;
    color: white;
    border-radius: 20px;
    padding: 32px;
    width: 20%;
    border: none;
    box-shadow: 7px 7px 14px rgba(1, 1, 1, 0.3);
    transition: 200ms ease;
    cursor: pointer;
}

.landing__btn:hover {
background-color: #403d56;
color: #ffc857;
cursor: pointer;
}

.landing__btn:active {
    transform: translateY(4px) scale(0.98);;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.search {
   font-size: 32px;
}

.landing__img--wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
}

.landing__img {
    max-width: 500px;
    margin: 32px;
}

/* STREAMING SECTION */

#streaming {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 64px;
    background-color: #e61e21;
    /* background-image: url('./assets/backgroundcolor.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
}

.streaming__wrapper{
margin-top: 32px 0px 56px 0px;
}


/* Streaming platforms image */
.streaming__img--wrapper {
    max-width: 1400px;
    margin-top: 46px;
}

.streaming__img {
    width: 100%;
    filter: invert(1);
    transition: 600ms ease;
    cursor:pointer;
}

.streaming__img:hover {
    width: 100%;
    filter: invert(0);
    transform: translateY(-10px) translateX(4px) scale(1.05);
}

/* FOOTER */

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__links {
display: flex;
justify-content: center;
align-items: center;
}

.footer__link {
    margin: 0 24px 32px 24px;
    font-weight: bold;
}

.footer__para {
    color: white;
    margin-bottom: 24px;
    background-color: #e61e21;
    padding: 4px 16px;
    font-weight: 300;
    font-size: 12px;
}

.footer__logo--wrapper{
    max-width: 200px;
}

.footer__logo {
    width: 100%;
    transition: 300ms ease;
}

.footer__logo:hover {
    transform: translateY(4px) scale(1.0);
}


/* BROWSE PAGE */

.nav__link--white, .footer__link--white {
    margin: 0 24px;
    color: #fff;
}

.nav__bar {
    height: 400px;
    background-color:grey;
    background-image: url('./assets/pexels-rpnickson-3131971.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 90% 70%;
    position: relative;
}

.nav__bar--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -80px;
}

.browse__input {
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 20px;
    border: 2px solid #403d56;
    transition: all 300ms ease;
}

.browse__input:hover {
    border-color: #e61e21;
    outline: none;
    padding-right: 56px;
}

.browse__input:focus {
    border-color: #e61e21;
    outline: none;
    padding-right: 56px;
}

.search__wrapper {
    position: absolute;
    cursor: pointer;
    right: 20px;            /* move left/right */
    top: 50%;               /* vertical center */
    transform: translateY(-50%);
    color:#e61e21;
    font-size: 32px;
}

.input__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    max-width: 600px;
}

.search__icon:hover {
    color:#ffc857;
}

.h1__browse {
margin: 0;
}

/* SEARCH SECTION */

.filter__wrapper {
    display: flex;
    justify-content: flex-end;
}

.progress__bar {
    width: 100%;
    height: 5px;
    overflow: hidden;
    position: absolute;
    right: 0;
    left: 0;
    background-color:red;
}

.search__info {
    font-size: 24px;
    padding: 0px 16px;
    font-weight: bold;
}

.filter__content--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 32px;
}

.content__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.movies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie {
    padding: 32px 32px;
    cursor: pointer;
    border: none;
    border-radius: 24px;
    margin: 32px;
    transition: all 300ms ease;
    width: 25%;
    height: auto;
}

.movie:hover {
    box-shadow: 0 20px 80px 0 #e61e21;
}

.movie__details {
    color: black;
    font-weight:bold;
    text-align: center;
}

.movie__title, .movie__year {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie__title {
    margin-top: 12px;
}

.movie__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie__img {
    width: 100%;
}

/* RESULTS CONTAINER */

.results__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* LOADING STATES */

.movies__loading {
display: flex;
align-items: center;
justify-content: center;
padding-top: 60px;
font-size: 60px;
color: #e61e21;
}

.fa-spinner {
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg)
    }
}

.landing__btn--spinner {
display: none !important;
font-size: 32px;
}

.landing__btn--loading .landing__btn--spinner {
    display:block !important;
}

.animated__popcorn {
    transform: translateX(100%);
}